header{
    background-color: #D9D9D9;
    height: 48px;
    text-align: center;
}

    #bloco_central{
    background-color: #D9D9D9;
    width: 500px;
    height: 500px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#button_candidato{
    width: 250px;
    height: 68px;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
}

#button_empresa{
    margin-bottom: 20px;
    width: 250px;
    height: 68px;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
}

#button_group{
  padding: 10px 24px; /* Some padding */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

