#nome-candidato{
    color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.3);
}

#email{
    color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.3);
}

#like{
    background-color: green;
}
#dislike{
    background-color: red;
}